#notAPage {
  height:     40px;
  background: #6B4273;
  color:      white;
}

#home {
  height:     1000px;
  background: url('../images/iceland-insane.jpg');
  color:      white;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

#about {
  height:     1000px;
  background: #4A66A5;
}

#portfolio {
  height:     1000px;
  background: #2B4968;
}

#embroidery-designs {
  background: #C52269;
  height:     1000px;
  color:      white;
}

#contact {
  height:     1000px;
  background: #1B334C;
  color:      white;
}

.headline-section {
  position: relative;
  height:   200px;
  border:   solid green;
}

#myheadline {
  /*height:         200px;*/
  /*vertical-align: middle;*/
  /*align-self:     center;*/
  width:     100%;
  position:  absolute;
  top:       50%; 
  left:      50%;
  transform: translate(-50%,-50%);
  border:    solid black;
}

.my-card {
  width:50%;
  background-color: rgba(0,0,0,.1);
  box-shadow:   2px 5px 5px rgba(0,0,0,.3);
  height: 200px;
}

.cursive {
  font-family: 'Dawning of a New Day', cursive;
  font-size:   80px;
}

.page {
  padding-top: 48px;
}

.page-description {
  height: 100px;
}

div {
  /*border: solid black;*/
}